<div class="card border-dark my-2">
  <div class="card-header">
    <h5 class="text-muted">.Net</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-10 col-sm-5">
        <h4 class="card-title text-dark">cource</h4>
        <div class="card-text">
          <p class="text-dark ">some info</p>
        </div>
      </div>
      <div class="col-lg-2 col-sm-5">
        <button class="btn btn-primary btn-block waves-effect waves-light">Edit</button>
        <button class="btn btn-danger btn-block">Remove</button>
      </div>
    </div>
  </div>
</div>  