<div class="card border-dark my-2"  >
  <div class="card-header" [appReleaseHighlighter]="courseItem.creationDate">
    <div class="container ">
      <div class="row ">
        <h5 class="font flex-row ">{{courseItem.domain}}</h5>
        <div class="flex-row ml-md-auto d-none d-md-flex"></div>
        <div class="fa-align-right align-self-center">
          <h6>Created: {{courseItem.date | date:'dd.MM.yyyy'}}</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body" [ngClass]="{'starred':courseItem.starred }">
    <div class="row">
      <div class="col-lg-10 col-sm-5">
        <h4 class="card-title text-dark">{{courseItem.name|uppercase}}
          <span class="text-muted"> ({{courseItem.length | duration}})</span>
          <img *ngIf="courseItem.starred" width="24" src="../../../assets/star.gif">
        </h4>
        <div class="card-text">
          <p class="text-dark ">{{courseItem.description}}</p>
        </div>
      </div>
      <div class="col-lg-2 col-sm-5">
        <button class="btn btn-primary btn-block" [routerLink]="[courseItem.id]">Edit</button>
        <button class="btn btn-danger btn-block" (click)="deleteCourseItem()">Remove</button>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <small>{{authors}}</small>
  </div>
</div>