<div *ngIf="courseItem">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Title" [(ngModel)]="courseItem.name">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" placeholder="Description" [(ngModel)]="courseItem.description"></textarea>
  </div>
  <div class="form-group">
    <label>Date</label>
    <app-date-input [(date)]="courseItem.date"></app-date-input>
  </div>
  <div class="form-group">
    <label>Duration</label>
    <app-duration-input [(duration)]="courseItem.length"></app-duration-input>
  </div>
  <div class="form-group">
    <label>Authors</label>
    <input type="text" class="form-control" placeholder="Authors">
  </div>

  <div class="form-row">
    <button type="cancel" class="btn btn-danger mr-2  " (click)="cancelItem()">Cancel</button>
    <button type="submit" class="btn btn-primary " (click)="saveItem()">Save</button>
  </div>
</div>